@font-face{
	font-family: riesling;
	src: url("../fonts/riesling.eot");
}

@font-face{
	font-family: glasket500;
	src: url("../fonts/glasket500.eot");
}

@font-face{
	font-family: Turkish;
	src: url("../fonts/Turkish_Microgramma.eot");
}
